.home-header {
    text-align: left;
  
}

.home-container {
    margin: 0 auto;
    padding: 1.5em;
    text-align:center;
    /* background:#3d70b2; */
}

.header-image {
    width: 10em;
    height: 10em;
    border-radius:8px;
}

.body-image{
    margin: 0 auto;
    margin-top: 2em;
    display: block;
    border-radius: 3px;
    border:1px solid black;
    max-width: 100%; 
    height: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 1px;
}

.grid-container-two {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 1px;
    margin-top:1em;
}

.grid-item {
    text-align: center;
    object-fit: cover;
    overflow: hidden;
}